#clipboard {
  position: absolute;
  top: .5rem;
  right: .5rem;
  color: #f2f3f4;
  cursor: pointer;
  font-family: Audiowide;
  transition: transform 0.25s ease;

  span {
    @media screen and (max-width: 440px) {
      display: none;
    }
  }

  i {
    margin-left: .25rem;
  }
}

#clipboard:active {
  transform: scale(1.25);
}