#settings {
  bottom: 0;
  padding: 2rem;
  background-color: rgba(0, 0, 0, .25);

  #sliders {
    margin-bottom: 2rem;
    display: flex;

    @media screen and (max-width: 900px) {
      flex-direction: column;
    }
    @media screen and (min-width: 300px) {
      flex-direction: column;
    }
  }
}